nav {
  height: 3.438em;
  width: 100%;
  background-color: var(--layout-background);
}

.navContainer {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navButtons {
  display: flex;
  align-items: center;
  gap: 29px;
}
